<div class="window_wrapper">
    <div class="window">
        <h2>Регистрация</h2>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div class="mail">
                <label name="email">Email</label>
                <input type="text" name="email">
            </div>
            <div class="log">
                <label name="login" id="usernameInput">Логин</label>
                <input type="text" name="login">
            </div>
            <div class="pass">
                <label name="password">Пароль</label>
                <input type="text" name="password">
            </div>
            <div class="pass">
                <label name="passwordConfirm">Подтвердить пароль</label>
                <input type="text" name="passwordConfirm">
            </div>
            <div class="btn">
                <a href="/Account/login">Войти</a>
                <button class="btn_reg">Регистрация</button>
            </div>
        </form>
    </div>
</div>